{
    email kevngariwangui@gmail.com
}

:80 {
    root * /srv
    file_server

    handle /api/* {
        uri strip_prefix /api
        reverse_proxy backend:5000
    }

    try_files {path} /index.html
}
